<form name="libroForm" novalidate>
    <div class="form-group">
        <label for="libroId">Id</label>
        <input 
               class="form-control" 
               id="libroId" 
               ng-model="libroActual.Id" 
               ng-disabled="true"/>
    </div>
    <div class="form-group">
        <label for="libroNombre">Nombre</label>
        <input
            class="form-control"
            id="libroNombre"
            name="libroNombre"
            ng-model="libroActual.Nombre"
            required
            ng-minlength="3"
            ng-maxlength="25"/>
        <div ng-messages="libroForm.libroNombre.$error">
            <div ng-message="required">El nombre del libro es requerido.</div>
            <div ng-message="minlength">El nombre del libro debe tener mas de 3 caracteres.</div>
            <div ng-message="maxlength">El nombre del libro debe tener menos de 25 caracteres.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="libroAño">Año</label>
        <input class="form-control"
               id="libroAño"
               name="libroAño"
               ng-model="libroActual.Año"
               required />
        <div ng-messages="libroForm.libroNombre.$error">
            <div ng-message="required">El nombre del libro es requerido.</div>
        </div>
    </div>
    <div class="form-group">
        <button ng-disabled="libroForm.$invalid" ng-click="salvarLibro()" class="btn btn-primary">{{accionActual}}</button>
        <button ng-click="limpiar()" class="btn btn-default">Cancelar</button>
    </div>
</form>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Año</th>
        <th></th>
        <th></th>
    </tr>
    <tr ng-repeat="libro in libros">
        <td>{{libro.Id}}</td>
        <td>{{libro.Nombre}}</td>
        <td>{{libro.Año}}</td>
        <td>
            <button ng-click="editar(libro)" class="btn btn-link">Editar</button>
        </td>
        <td>
            <button ng-click="eliminar(libro)" class="btn btn-link">Eliminar</button>
        </td>
    </tr>
</table>